<p>Bonjour <%= @resource.pseudo %> !</p>

<p>Vous avez demandé une réinitialisation de votre mot de passe. Veuillez cliquer sur le lien ci-dessous afin d'effectuer le changement de mot de passe :</p>

<center><p> >>>>> <%= link_to "Réinitialiser le mot de passe", edit_password_url(@resource, reset_password_token: @token) %> <<<<< </p> </center>

<p>Si vous n'avez pas demandé de changement de mot de passe, ignorez cet email."</p>
<p> Votre mot de passe ne sera pas changé tant que vous ne cliquez pas sur le lien ci-dessus.</p>
